body {
    display: flex;
    flex-flow: column wrap;
}

#title {
    background-color: #757171;
}

#payoff {
    background-color: #AEAAAA;
}

nav {
    background-color: #8ca8d8;
}

ul {
    list-style-type: none;
}

.article1 {
    background-color: #E2EFDA;
}

.article2 {
    background-color: #C6E0B4;
}

.article3 {
    background-color: #A9D08E;
}

aside {
    background-color: #FFF2CC;
}

#copyright {
    background-color: #D6DCE4;
}

.cookiestatement {
    position: fixed;
    background-color: #FA0;
    opacity: 50%;
    bottom: 0;
    right: 0;
    margin: 7px;
    z-index: 9999;
}

.cookiestatement p {
    color: #FFF;
}

@media screen and (max-width: 480px) {
    /* mobile */

    .standardMenu {
        display: none;
    }

    .dropdownContent {
        display: none;
    }

    #btnControl {
        display: none;
    }

    #btnControl:checked~.dropdownContent {
        display: inline;
        margin: 0;
    }

    #logo {
        display: none;
    }

    #title {
        margin: 5px auto;
    }

    #payoff {
        margin: 5px auto;
    }

    nav {
        margin: 5px auto 5px 5px;
        flex-grow: 1;
    }

    .headernav {
        display: flex;
        flex-direction: row;
    }

    video {
        display: none;
    }

    .articles {
        order: 3;
        display: flex;
        flex-wrap: wrap;
    }

    .articles article {
        padding: 10px;
        margin-bottom: 5px;
    }

    .articleImage {
        display: flex;
        justify-content: flex-start;
    }

    .articles img {
        width: 300px;
    }

    .top5 {
        display: flex;
        order: 1;
        flex-direction: column;
        margin-bottom: 5px;
        padding: 10px;
        width: 100%;
    }

    .videoArticlesAside {
        display: flex;
        flex-wrap: wrap;
    }

    .article3 {
        order: 0;
    }

    .article2 {
        order: 1;
    }

    .article1 {
        order: 2;
    }

}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    /* tablet */

    #hamburgerMenu {
        display: none;
    }

    #logo {
        width: 100px;
        height: auto;
        margin: 0;
    }

    #title {
        margin: 5px auto;
    }

    #payoff {
        margin: 5px auto;
    }

    nav {
        margin-bottom: 5px;
    }

    .standardMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        background-color: #8ca8d8;
    }

    .menuItem {
        display: flex;
        width: 100px;
        height: 30px;
        justify-content: center;
        background-color: #8ca8d8;
        align-items: center;
    }

    #hamburgerMenu {
        display: none;
    }

    video {
        display: flex;
        order: 2;
        width: 480px;
        height: auto;
        margin: 5px auto;
    }

    .articles {
        order: 3;
        display: flex;
        flex-wrap: wrap;
    }

    .articles article {
        padding: 10px;
        margin-bottom: 5px;
    }

    .articleImage {
        display: flex;
        justify-content: flex-start;
    }

    .articles img {
        width: 300px;
    }

    .top5 {
        display: flex;
        order: 1;
        flex-direction: column;
        margin-bottom: 5px;
        padding: 10px;
        width: 100%;
    }

    .videoArticlesAside {
        display: flex;
        flex-wrap: wrap;
    }

    .article3 {
        order: 0;
    }

    .article2 {
        order: 1;
    }

    .article1 {
        order: 2;
    }
}

@media screen and (min-width: 1280px) {
    /* pc */

    h1 {
        letter-spacing: 1px;
    }

    #logo {
        width: 100px;
        height: auto;
        margin: 0;
    }

    #title {
        margin: 5px auto;
    }

    #payoff {
        margin: 5px auto;
    }

    nav {
        margin-bottom: 5px;
    }

    .standardMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        background-color: #8ca8d8;
    }

    .menuItem {
        display: flex;
        width: 33%;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    .menuItem:hover {
        background-color: #6e92d1;
    }

    .menuItem:active {
        background-color: yellow;
    }

    #hamburgerMenu {
        display: none;
    }

    video {
        display: flex;
        width: 640px;
        height: auto;
        margin: 5px auto;
    }

    .articles {
        display: flex;
        flex-wrap: wrap;
        width: 79%;
    }

    .articles article {
        padding: 10px;
        margin-bottom: 5px;
    }

    .articleImage {
        display: flex;
        justify-content: flex-end;
    }

    .articles img {
        width: 300px;
    }

    .top5 {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 5px;
        margin-left: 5px;
        width: 20%;
    }

    .top5 p {
        margin: 10px;
    }

    .videoArticlesAside {
        display: flex;
        flex-wrap: wrap;
    }
}