body {
    background-color: rgb(217, 220, 223);
}

ul {
    list-style-type: none;
    display: inline;
}

@media screen and (max-width: 480px) {

    .standardMenu {
        display: none;
    }

    .dropdownContent {
        display: none;
    }

    #btnControl {
        display: none;
    }

    #btnControl:checked~.dropdownContent {
        display: inline;
    }
	
}

@media screen and (min-width: 481px) and (max-width: 1297px) {

    .hamburgerMenu {
        display: none;
    }

}

@media screen and (min-width: 1280px) {

    .hamburgerMenu {
        display: none;
    }
	
	video{
		width: 640px;
		height: 360px;
	}
}